/* General Styles */
* {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
}

header {
    height: 200px;
}

h1 {
    color: white;
    font-size: 5vw;
}

p {
    color: black;
    text-align: center;
}

form {
    text-align: center;
    color: white;
}

input {
    color: black;
}


    /* Ticket Link */
a{
    color: white;
    border: 1px white solid;
    padding: 3px;
    border-radius: 5px;
}

a:hover {
    background-color: white;
    color: black;
}



/* Custom Classes & Ids */
/* Header */
.bg-image {
    background-image: url(https://images.unsplash.com/photo-1653984335295-871bcc9fd48c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80);
    background-position: center 53%;
    background-repeat: no-repeat;
    background-size: 100%;
    background-color: #e4976d;
}


/* Map */
#map {
    background-color: #e4976d;
    min-height: 500px;
}


/* Added Scroll Bar on Hover */
#events {
    margin-top: 20px;
    max-height: 300px;
    overflow: hidden;
}

#events:hover {
    overflow-y: scroll;   
}


/* Footer */
.footer {
    background-color: #e4976d;
    text-align: center;
    top: 50px;
}
