* {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

header {
    height: 200px;
}

.bg-image { 
    background-image: url(https://images.unsplash.com/photo-1653984335295-871bcc9fd48c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80) ;
    background-position: center 53%;
    background-repeat:  no-repeat;
    background-size: 100%;
    background-color: #e4976d;
}

h1 {
    color: white;
    font-size: 5vw;
}

